<div class="error404_wrapper">
    <div class="error404_content">
        <div class="left img">
            <img src="{{ _host }}img/sections/error404/contorno.png" alt=""/>
        </div>
        <div class="left texto">
            <h3>Página No Encontrada</h3>
            <p>
                Lo sentimos, la página buscada al parecer no existe o ha desaparecido.
                No te preocupes, puedes conocer mientras tanto todos nuestros modelos y vivir la experiencia Suzuki.
            </p>
            <div class="espacio">&nbsp;</div>
            <a href="{{ _host }}" class="button red">Ir a la página de inicio</a>
        </div>
    </div>
</div>