<div id="content-content">
    <div class="plain">
        <h1 class="center">Términos legales</h1>
        <h2>Condiciones de la promoción ´Suzuki está contigo´ en las plazas de Cancún y Tijuana</h2>
        <p>
            Este beneficio está restringido a las personas que:
        </p>
        <ol>
            <li style="list-style: inherit">
                Acrediten la legal residencia en dicha zona, es decir que te lo acrediten con un comprobante de domicilio o su credencial para votar, donde consten los domicilios en zona fronteriza;
            </li>
            <li style="list-style: inherit">
                Hagan los trámites de emplacamiento del vehículo en dicha zona fronteriza.
            </li>
            <li style="list-style: inherit">
                Y para las personas Morales, que acrediten a través de su alta de hacienda que tienen su domicilio registrado en dicha zona fronteriza.
            </li>
        </ol>
        <p>
            En cumplimiento a la Legislación vigente, la factura del producto debe de reflejar el costo del I.V.A., del 16%, por lo que el costo del aumento al Impuesto al Valor Agregado, que absorbe SUZUKI MOTOR DE MEXICO, S.A. DE C.V., (Esto siempre y cuando, sea esa persona quien absorba el costo de no ser así y sea el Concesionario, poner el nombre de este), es en el valor del producto.
        </p>
    </div>
</div>