<div id="content-content">
    <div class="promos-wrapper-financing-general">
        <div class="promos-container-financing-general">
            <div id="promocion-financing-general_by_model" class="promotion-financing-general">
                <div class="promo-content-financing-general">
                    <div class="description">
                        <p class="description_title">FINANCIAMIENTO</p>
                        <p>Selecciona tu Suzuki favorito.</p>
                    </div>
                </div>
                <div class="financing_main">
                    <div id="content-section-form-financing-general-selection">
                        {% set modelo = mdopa %}
                        {% embed "financiamiento/gama_models.twig" %}{% endembed %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>