<div id="content-content">
    <iframe src="https://www.google.com/maps/d/embed?mid=1e8-DCXJzSOp3Z8fSN0mRLNBtdb0" width="100%" height="664" style="height: 864px;"></iframe>
    {#
    <div id="concessionaires" class="window-adaptable hidden-mobil" data-min-height="550">
        <div class="concessionaire-column list" id="concessionaires-list">
            <div class="content">
                <div class="concessionaire-list">
                    <div id="concessionaires-dynamic-list">
                        <a name="concesionaires-list"></a>
                        <ul>
                            <li class="separator">Jalisco</li>
                            <li class="concessionaire" data-key="lopez-mateos">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/lopez-mateos-small.jpg" title="Suzuki López Mateos" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-lopez-mateos.html">Suzuki López Mateos</a></h3>
                                    <address>
                                        <span class="address">Av. López Mateos Núm. 5654 Col. Arboledas, Zapopan, Jalisco.</span><br>
                                        <span class="phone">01-(33)-3884-8200</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                                <i>&#59238;</i>
                            </li>
                            <li class="concessionaire" data-key="vallarta">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/vallarta-small.jpg" title="Suzuki Vallarta" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-vallarta.html">Suzuki Vallarta</a></h3>
                                    <address>
                                        <span class="address">Av. Vallarta Núm. 5300 Col. Jardines  Vallarta, Zapopan, Jalisco.</span><br>
                                        <span class="phone">01-(33)-3777-1989</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                                <i>&#59238;</i>
                            </li>
                            <li class="separator">Colima</li>
                            <li class="concessionaire" data-key="colima">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/colima-small.jpg" title="Suzuki Colima" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-colima.html">Suzuki Colima</a></h3>
                                    <address>
                                        <span class="address">Av. Felipe Sevilla del Río Núm. 536, Col. Lomas de Circunvalación, Colima, Colima.</span><br>
                                        <span class="phone">01-(312)-316-3263</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                                <i>&#59238;</i>
                            </li>
                            <li class="separator">Michoacán</li>
                            <li class="concessionaire" data-key="morelia">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/morelia-small.jpg" title="Suzuki Morelia" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-morelia.html">Suzuki Morelia</a></h3>
                                    <address>
                                        <span class="address">Av. Camelinas Núm. 3169 Fracc. Las Américas Morelia, Michoacán.</span><br>
                                        <span class="phone">01-(443)-500-53-00</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                                <i>&#59238;</i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="concessionaire-column info" id="concessionaires-data">
            <div class="content">
                <div class="concessionaire-close-box">
                    <a href="#close" class="concessionaire-close">
                        <span>close</span>
                    </a>
                </div>
                <div class="concessionaire-data-wrapper">
                    <div class="wrapper-title">
                        <div class="data title">
                            <h1 id="concessionaire-title">Suzuki López Mateos</h1>
                        </div>
                    </div>
                    <div class="wrapper-data">
                        <div class="data address">
                            <div class="section-name">Dirección</div>
                            <address id="concessionaire-address">
                                Av. López Mateos Núm. 5654 Col. Arboledas, Zapopan, Jalisco.
                            </address>
                            <p>CP: <span id="concessionaire-zip">44200</span></p>
                        </div>
                        <div class="data phone">
                            <div class="section-name">Teléfono</div>
                            <a id="concessionaire-phone" href="call:01-(33)-3884-8200" target="_blank">01-(33)-3884-8200</a>
                        </div>
                        <div class="data website" id="concessionaire-website-wrapper">
                            <div class="section-name">Sitio Web</div>
                            <p><a id="concessionaire-website" href="#" target="_blank">Sitio Web</a></p>
                        </div>
                    </div>
                    <div class="wrapper-image">
                        <div class="big-image">
                            <img id="concessionaire-image" src="images/sections/concessionaires/previews/aguascalientes-big.jpg" alt="Suzuki Aguascalientes" title="Suzuki Aguascalientes" />
                        </div>
                    </div>
                    <div class="wrapper-test-drive">
                        <div class="data test-drive">
                            <a href="#prueba-de-manejo" id="open-test-drive">Agenda tu prueba de manejo</a>
                        </div>
                        <div class="view-more"><a href="#more" class="view-all-concessionaires">Ver todas las concesionarias</a></div>
                        <a href="#" id="back-list-concessionaires">Ver todas las concesionarias</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="concessionaire-column map" id='concessionaires-map'>
            <div class="content">
                 <div id="map_canvas" data-concessionaire-preselected-id="15" data-lat-lon="20.6244,-103.421"></div>
            </div>
            <div id="shadow-map"></div>
        </div>
    </div>
    #}
    {#<div id="concessionaires-normal" class="window-adaptable hidden-nomobil" data-min-height="550">
        <div class="concessionaire-column list-normal" id="concessionaires-list">
            <div class="content">
                <div class="concessionaire-list">
                    <div id="concessionaires-dynamic-list">
                        <a name="concesionaires-list"></a>
                        <ul>
                            <li class="separator">Jalisco</li>
                            <li class="concessionaire" data-key="lopez-mateos">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/lopez-mateos-small.jpg" title="Suzuki López Mateos" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-lopez-mateos.html">Suzuki López Mateos</a></h3>
                                    <address>
                                        <span class="address">Av. López Mateos Núm. 5654 Col. Arboledas, Zapopan, Jalisco.</span><br>
                                        <span class="phone">01-(33)-3884-8200</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="concessionaire" data-key="vallarta">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/vallarta-small.jpg" title="Suzuki Vallarta" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-vallarta.html">Suzuki Vallarta</a></h3>
                                    <address>
                                        <span class="address">Av. Vallarta Núm. 5300 Col. Jardines  Vallarta, Zapopan, Jalisco.</span><br>
                                        <span class="phone">01-(33)-3777-1989</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="separator">Colima</li>
                            <li class="concessionaire" data-key="colima">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/colima-small.jpg" title="Suzuki Colima" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-colima.html">Suzuki Colima</a></h3>
                                    <address>
                                        <span class="address">Av. Felipe Sevilla del Río Núm. 536, Col. Lomas de Circunvalación, Colima, Colima.</span><br>
                                        <span class="phone">01-(312)-316-3263</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="separator">Michoacán</li>
                            <li class="concessionaire" data-key="morelia">
                                <div class="image">
                                    <img src="images/sections/concessionaires/previews/morelia-small.jpg" title="Suzuki Morelia" />
                                </div>
                                <div class="address">
                                    <h3><a href="concesionarias/suzuki-morelia.html">Suzuki Morelia</a></h3>
                                    <address>
                                        <span class="address">Av. Camelinas Núm. 3169 Fracc. Las Américas Morelia, Michoacán.</span><br>
                                        <span class="phone">01-(443)-500-53-00</span>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="concessionaire-column info" id="concessionaires-data">
            <div class="content">
                <!--<div class="concessionaire-close-box">
                    <a href="#close" class="concessionaire-close">
                        <span>close</span>
                    </a>
                </div>-->
                <div class="concessionaire-data-wrapper">
                    <div class="wrapper-title">
                        <div class="data title">
                            <h1 id="concessionaire-title">Suzuki López Mateos</h1>
                        </div>
                    </div>
                    <div class="wrapper-data">
                        <div class="data address">
                            <div class="section-name">Dirección</div>
                            <address id="concessionaire-address">
                                Av. López Mateos Núm. 5654 Col. Arboledas, Zapopan, Jalisco.
                            </address>
                            <p>CP: <span id="concessionaire-zip">44200</span></p>
                        </div>
                        <div class="data phone">
                            <div class="section-name">Teléfono</div>
                            <a id="concessionaire-phone" href="call:01-(33)-3884-8200" target="_blank">01-(33)-3884-8200</a>
                        </div>
                        <div class="data website" id="concessionaire-website-wrapper">
                            <div class="section-name">Sitio Web</div>
                            <p><a id="concessionaire-website" href="#" target="_blank">Sitio Web</a></p>
                        </div>
                    </div>
                    <div class="wrapper-image">
                        <div class="big-image">
                            <img id="concessionaire-image" src="../images/sections/concessionaires/previews/lopez-mateos-big.jpg" alt="Suzuki López Mateos" title="Suzuki López Mateos" />
                        </div>
                    </div>
                    <div class="wrapper-test-drive">
                        <!--<div class="data test-drive">
                            <a href="#prueba-de-manejo" id="open-test-drive">Agenda tu prueba de manejo</a>
                        </div>-->
                        <div class="view-more"><a href="#more" class="view-all-concessionaires">Ver todas las concesionarias</a></div>
                        <!--<div class="view-more"><a href="#more" class="view-all-concessionaires">Ver todas las concesionarias</a></div>
                        <a href="#" id="back-list-concessionaires">Ver todas las concesionarias</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>#}
</div>