<div id="content-content">
    <div class="site-content">
        <div id="warranty-first-image" class="half extended first">
            <img src="img/sections/warranty/warranty-1.jpg" alt="">
        </div>
        <div class="half compressed first">
            <div class="padding-left">
                <h1>GARANTÍA SUZUKI</h1>
                <hr style="margin-bottom: 20px;"/>
                <p>¡Felicidades! Has adquirido un auto nuevo y sabemos que no puedes esperar para salir a la calle para que
                    todos lo vean.</p>

                <p>También sabemos que has invertido mucho tiempo, esfuerzo y dinero que <span class="blue">te preocupa lo que pueda ocurrirle a tu Suzuki</span>
                    a partir de este momento.</p>

                <p>En Suzuki sabemos lo que significa estrenar un auto.</p>

                <p>Por eso <span class="blue">te ofrecemos dos tipos de garantía</span>, la ordinaria y la extendida, para
                    que tu alegría por estrenar y tu tranquilidad al andar en un Suzuki duren por mucho tiempo.</p>

                <p>Adquiere tu tranquilidad en tu concesionario Suzuki más cercano.</p>

                <div class="main-buttons">
                    <a class="button blue" href="garantia-suzuki.html#ordinaria">Garantía ordinaria</a>
                    <a class="button blue" href="garantia-suzuki.html#extendida">Garantía extendida</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <a name="extendida"></a>
    <a name="ordinaria"></a>
    <div class="site-content warranty-expand hidden hidden-content">
        <h2>GARANTÍA ORDINARIA</h2>
        <hr/>
        <a class="close-warranty-button" href="garantia-suzuki.html#Cerrar"><span>Cerrar</span></a>
        <div id="warranty-image-ordinary1" class="half extended warranty-right">
            <img src="img/sections/warranty/ordinary-1.jpg"
                 style="margin-top: 50px"
                 alt="Servicios Básicos Km '0'" title="Servicios Básicos Km '0'">
        </div>
        <div id="warranty-ordinary-text1" class="half compressed warranty-left">
            <div class="padding-right">
                <h3>Servicios básicos Km "0"</h3>

                <ul class="blue dotted">
                    <li>Arrastre de grúa</li>
                </ul>
                <p>A causa de avería, se gestionarán los servicios de remolque desde el lugar del incidente y hasta la
                    agencia más cercana,
                    el usuario deberá acompañar durante el arrastre. <span class="warranty-note">Limitado a tres eventos por año.</span></p>

                <ul class="blue dotted">
                    <li>Cambio de llanta</li>
                </ul>
                <p>A causa de ponchadura se coordinará un técnico para el cambio exclusivamente por la refacción, en caso de
                    no contar con ésta, se llevará a la vulcanizadora o agencia más cercana.
                    <span class="warranty-note">Limitado a tres eventos por año.</span></p>

                <ul class="blue dotted">
                    <li>Suministro de gasolina</li>
                </ul>
                <p> Se brindarán 10 litros de gasolina con costo para el Beneficiario.
                    <span class="warranty-note">Limitado a tres eventos por año.</span></p>

                <ul class="blue dotted">
                    <li>Paso de corriente</li>
                </ul>
                <p>Se enviará a un técnico para pasar corriente a la batería. <span class="warranty-note">Limitado a tres eventos por año.</span></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>


        <div class="half extended warranty-div-image">
            <img id="warranty-image-ordinary2" src="img/sections/warranty/ordinary-2.jpg" alt="Asistencia Hogar" title="Asistencia Hogar">
        </div>
        <div class="half compressed">
            <div class="padding-left">
                <h3>Asistencia hogar</h3>
                <ul class="blue dotted">
                    <li>Cerrajería</li>
                </ul>
                <p>Una vez comprobada la propiedad, y si las llaves quedaron dentro del vehículo, se coordinará un cerrajero
                    para abrir la unidad. Si las llaves se extraviaron, se coordinará el servicio de grúa
                    únicamente a la agencia autorizada más cercana. Si es necesario abrir la unidad para liberar la
                    trasmisión y realizar el arrastre, ambos servicios (cerrajero y grúa) serán sin costo para el
                    cliente.</p>

                <p><span class="warranty-note">Limitado a tres eventos por año.</span></p>
            </div>

        </div>
        <div class="clearfix"></div>
        <hr/>

        <div class="half extended warranty-div-image warranty-right">
            <img id="warranty-image-ordinary3" src="img/sections/warranty/ordinary-3.jpg" alt="Asistencia Médica" title="Asistencia Médica">
        </div>
        <div class="half compressed warranty-left">
            <div class="padding-right">
                <h3>Asistencia médica</h3>
                <ul class="blue dotted">
                    <li>Medico a domicilio</li>
                </ul>
                <p>En caso de lesión o enfermedad del conductor, que se encuentre en territorio nacional, se le enviará un
                    médico y/o se le referirá un centro hospitalario, la totalidad de los gastos generados por este concepto
                    serán por cuenta y riesgo del beneficiario. Con costo preferencial para el beneficiario.</p>


                <ul class="blue dotted">
                    <li>Consultoría medica telefónica</li>
                </ul>
                <p>En caso de lesión o enfermedad del conductor, que se encuentre en territorio nacional, se le enviará un
                    médico y/o se le referirá un centro hospitalario, la totalidad de los gastos generados por este concepto
                    serán por cuenta y riesgo del beneficiario.</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="site-content warranty-expand hidden hidden-content">
        <h2>GARANTÍA EXTENDIDA</h2>
        <hr/>
        <a class="close-warranty-button" href="garantia-suzuki.html#Cerrar"><span>Cerrar</span></a>
        <div id="warranty-image-extended3" class="half extended warranty-right">
            <img src="img/sections/warranty/extended-1.jpg"
                 style="margin-top: 35px"
                 alt="Beneficios para nuestros clientes" title="Beneficios para nuestros clientes">
        </div>
        <div class="half compressed warranty-left">
            <div class="padding-right">
                <p>Es un <span class="blue">contrato que extiende el tiempo que dura la garantía de tu vehículo</span>
                    cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km).</p>

                <h3>Beneficios para nuestros clientes</h3>
                <ul class="ok-list">
                    <li>Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra
                        primero.
                    </li>
                    <li>Contarás con la asistencia vial las 24 horas durante los 365 días del año en todo el territorio
                        nacional.
                    </li>
                    <li>Todas las reparaciones durante la cobertura serán en Concesionarios Autorizados Suzuki.</li>
                    <li>Instalación de refacciones originales y mano de obra calificada. Mayor valor de reventa.</li>
                    <li>Sin límite de eventos para reparaciones.</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>


        <div id="warranty-image-extended2" class="half compressed">
            <img src="img/sections/warranty/extended-2.jpg" alt="">
        </div>
        <div class="half extended">
            <div class="padding-left">
                <h3>Parámetros de elegibilidad</h3>
                <ul class="blue dotted">
                    <li>Autos nuevos (Grupo 1):</li>
                </ul>
                <p>Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra
                    primero.</p>
                <ul class="blue dotted">
                    <li>Autos usados (Grupo 2):</li>
                </ul>
                <p>Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra
                    primero.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>


        <div class="half compressed">

            <div>
                <h3>Cobertura Oro</h3>
                <ol class="half numbers">
                    <li>Suspensión delantera</li>
                    <li>Aire acondicionado</li>
                    <li>Motores de vidrios y seguros</li>
                    <li>Transmisión</li>
                    <li>Tracción delantera</li>
                    <li>Tracción trasera</li>
                    <li>Dirección</li>
                    <li>Frenos</li>
                </ol>
                <ol class="half numbers" start="9">
                    <li>Motores de limpiadores</li>
                    <li>Frenos ABS</li>
                    <li>Cuadro de instrumentos</li>
                    <li>Motor</li>
                    <li>Sistema de inyección de combustible</li>
                    <li>Sistema eléctrico</li>
                </ol>
                <div class="clearfix"></div>
            </div>

        </div>
        <div id="warranty-image-extended1" class="half extended">

            <img src="img/sections/warranty/extended-3.png" alt="">

        </div>
        <div class="clearfix"></div>
        <hr/>


        <div class="half compressed">

            <h3>Cobertura con asistencia vial</h3>


            <p>Además de los sistemas incluidos en la cobertura Oro,<br/> este programa incluye:</p>


            <ul class="dotted">
                <li>Remolque al Concesionario Autorizado SUZUKI más cercano</li>
                <li>Paso de corriente</li>
                <li>Reabastecimiento de gasolina, aceite, etc. (1)</li>
                <li>Cambio de llanta por la de refacción (1)</li>
                <li>Apertura de unidad por olvido de llaves (1)</li>
                <li>Transportación a residencia habitual (1)</li>
                <li>Reembolso por gastos de hotel (2)</li>
                <li>Renta de vehículo sustituto (3)</li>
                <li>Regreso o continuación de viaje (3)</li>
                <li>Referencia de Concesionarios Autorizados Suzuki</li>
            </ul>
            <p class="note">1 Aplican restricciones</p>

            <p class="note">2 Hasta tres noches de hotel por evento. Hasta dos eventos por año.</p>

            <p class="note">3 Hasta dos eventos por año.</p>


        </div>
        <div class="half extended">
            <div class="center-500-left">
                <img src="img/sections/warranty/extended-4.jpg" alt="Cobertura por antigüedad"
                     title="Cobertura por antigüedad">

                <h3>Cobertura por antigüedad</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>


        <div class="half">
            <div class="table" style="margin-left: 40px">
                <div class="col first">
                    <div class="title">
                        VEHÍCULOS
                    </div>
                    <div class="content">
                        <p>SWIFT</p>

                        <p>SX4 X-OVER & SEDÁN <br/> SWIFT SPORT <br/> S-CROSS <br/> CIAZ</p>

                        <p>GRAND VTARA <br/> KIZASHI <br/> S-CROSS AWD</p>
                    </div>
                </div>
                <div class="col last">
                    <div class="title">
                        NUEVOS (GRUPO1)
                    </div>
                    <div class="content">
                        <p class="strong">$ 8,275.00</p>

                        <p class="strong">$ 8,723.00</p>
                        <br/><br/>
                        <p class="strong">$ 11,810.00</p>
                        <br/><br/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="half">

            <div class="table" style="margin-left: 100px">
                <div class="col first">
                    <div class="title">
                        VEHÍCULOS
                    </div>
                    <div class="content">
                        <p>SWIFT</p>

                        <p>SX4 X-OVER & SEDÁN <br/> SWIFT SPORT <br/> S-CROSS <br/> CIAZ</p>

                        <p>VTARA <br/> KIZASHI <br/> S-CROSS AWD</p>
                    </div>
                </div>
                <div class="col last">
                    <div class="title">
                        USADOS (GRUPO2)
                    </div>
                    <div class="content">
                        <p class="strong">$ 11,187.00</p>

                        <p class="strong">$ 11,635.00</p>
                        <br/><br/>
                        <p class="strong">$ 14,721.00</p>
                        <br/><br/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="half">
            <p id="note-border1" class="note blue margin-bottom"><span style="font-size: 12px">*</span> Exclusiones</p>

            <p class="note margin-bottom">Servicios de afinación, lubricantes, líquidos, bolsas de aire y sistemas
                implicados, gomas de limpiadores, llantas, amortiguadores, alineación, balanceo, discos y pastas del
                embrague, accesorios, partes estéticas, batería, radio, faros, lámparas y luces, vestiduras, alfombras,
                molduras, pintura, cromado, desperfectos en la carrocería o soldaduras estructurales, reparaciones para
                mejorar el desempeño o el funcionamiento causados por el uso y desgaste normal de vehículo, rotura o fallas
                mecánicas por colisión.</p>

            <p class="blue"><strong>Precios con IVA incluido, sujetos a cambio sin previo aviso.<br/>Sólo pagas $550.00 pesos más IVA por
                evento.</strong></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
