.error404_wrapper {
    width:960px;
    height:300px;
    padding:100px 0 40px 0;
    margin:0 auto;
}
.error404_wrapper .left {
    float:left;
}
.error404_wrapper .img {
    width:480px;
}
.error404_wrapper .texto {
    width:430px;
    padding-left:50px;
}
.error404_wrapper .texto h3 {
    text-transform:uppercase;
    margin-top:5px;
    font-size:36px;
    color:#404040;
    line-height:36px;
    font-family:'Lato', Arial, sans-serif !important;
    font-weight:300;
}
.error404_wrapper .texto .espacio {
    height:40px;
    clear:both;
    display:block;
}
@media only screen and (max-width: 767px) {
    .error404_wrapper {
        height:auto;
        width:inherit;
        width:100%;
        display:block;
        padding:0
   ; }
    .error404_wrapper .error404_content {
        width:auto;
        padding:15px;
    }
    .error404_wrapper .error404_content .left {
        float:none !important;
    }
    .error404_wrapper .error404_content .img {
        display:none;
    }
    .error404_wrapper .error404_content .texto {
        width:100%;
        padding-left:0;
    }
    .error404_wrapper .error404_content .texto h3 {
        display:block;
        border-bottom:0;
        margin:0 0 20px;
        padding:0 30px 0 0;
        color:#3f3f3f;
        font-weight:200;
        font-size:20px;
        line-height:22px;
        text-align:center;
    }
    .error404_wrapper .error404_content .texto p {
        font-size:14px;
        line-height:19px;
    }
    .error404_wrapper .error404_content .texto a {
        display:block;
        text-align:center;
        -webkit-border-radius:2px !important;
        -moz-border-radius:2px !important;
        border-radius:2px !important;
        margin-bottom:50px;
    }
    .error404_wrapper .error404_content .texto .espacio {
        height:20px;
    }
}