.promotion-models{
	background:url("../../img/sections/contact/todos-suzuki-1500x200.jpg") center top no-repeat;
	padding:95px 0 0;
}
.promos-wrapper-models{
	height:auto;
}
.promos-container-models{
	height:auto;
}
.promo-content-models{
	margin:55px auto 0;
	width:960px;
}
.promo-content-models .description{
	margin:0;
	height:50px;
	font-weight:300;
	color:#ffffff;
	font-size:18px;
	line-height:16px;
}
.promo-content-models .description p{
	color:#fff;
	margin:0;
    font-weight: bolder;
}
.promo-content-models .description p.description_title{
	font-size:24px;
	line-height:24px;
	font-weight: 500;
}
#form-wrapper{
	margin-top:31px;
}
.models_main{
	margin:0 auto 30px;
	width:960px;
}
.models_main .models_content{
	float:left;
	width:540px;
}
.models_main .models_content .models_elements{
	width:540px;
	height:auto;
	float:left;
}
.models_main .models_content .models_elements .models_element{
	height:auto;
	width:49%;
}
.models_main .models_content .models_elements .models_element .chzn-container{
	width:265px !important;
}
.models_main .models_content .models_elements .models_element input{
	width:233px;
}
.models_main .models_content .models_elements .models_element.a{
	float:left;
	margin-right:1%;
}
.models_main .models_content .models_elements .models_element.b{
	float:right;
	margin-left:1%;
}
.models_main .models_content .models_elements .models_element.ab{
	float:none;
	height:auto;
	width:100%;
}
.models_main .models_content .models_elements .models_element.ab textarea{
	width:94%;
	height:60px;
}
.models_main .models_content .models_elements .models_element.ab .invalid-message{
	width:519px;
}
.models_main .models_sidebar{
	float:right;
	width:370px;
}
.models_main .models_sidebar .models_social{
	width:330px;
	padding:20px;
	background-color:#f7f7f7;
	font-size:13px;
}
.models_main .models_sidebar .models_social p{
	font-size:13px;
}
.models_main .models_sidebar .models_social p.models_social_title{
	font-weight:700;
	font-size:15px;
	line-height:15px;
}
.models_main .models_sidebar .models_social .social{
	width:200px;
	height:20px;
	line-height:27px;
	padding:0 0 0 35px;
	margin:10px 0;
}
.models_main .models_sidebar .models_social .social a,.models_main .models_sidebar .models_social .social a:hover{
	line-height:27px;
	color:#000;
	text-decoration:none;
}
.models_main .models_sidebar .models_social .social.fb{
	margin-top:30px;
	background:url("../../img/sections/models/fb.png") no-repeat;
}
.models_main .models_sidebar .models_social .social.in{
	background:url("../../img/sections/models/in.png") no-repeat;
}
.models_main .models_sidebar .models_social .social.tw{
	background:url("../../img/sections/models/tw.png") no-repeat;
}
.models_alert{
	background:url("../../img/sections/models/alert-icon.png") no-repeat #e0261b;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#ffffff;
	display:none;
	font-size:15px;
	height:35px;
	margin:10px 0;
	padding:10px 0 0 45px;
	width:495px;
}
.enviar{
	width:auto !important;
	font-family:'Lato';
	font-weight:300;
}
#recibir_noticias{
	margin:20px 0;
}
#revisa_aviso{
	margin-top:20px;
	font-size:14px;
	line-height:19px;
}
#revisa_aviso a{
	color:#0051ad;
	text-decoration:underline;
}
.enviar:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0c6dc4), color-stop(1, #0c6dc4));
	background:-moz-linear-gradient(center top, #0c6dc4 5%, #0c6dc4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c6dc4', endColorstr='#0c6dc4');
	background-color:#0c6dc4;
	color:#ffffff;
	text-decoration:none;
}
.enviar:active{
	top:1px;
}
.models_element_mistake{
	color:#e64f54;
	font-weight:700;
}
.form-thanks, .form-error{
	text-align:center;
	width:540px;
	margin-top:30px;
	position:relative;
}
.form-thanks .agradecimiento_titulo,
.form-error .agradecimiento_titulo {
	color:#003751;
	font-size:25px;
	font-weight:400;
}
.form-thanks .agradecimiento_titulo2,
.form-error .agradecimiento_titulo2 {
	font-size:16px;
	font-weight:400;
}
.form-thanks .agradecimiento_titulo3{
	color:#000000;
	font-size:14px;
	font-weight:300;
	font-style:italic;
}
.form-thanks hr,
.form-error hr {
	border:0;
	width:100%;
	color:#f00;
	background-color:#dfdfdf;
	height:1px;
}
.form-thanks .arrow{
	position:absolute;
	bottom:-65px;
	right:-61px;
	z-index:9;
}

.loader-wrap {
    top: -11%;
    left: -40%;
}
.loader {
	position: relative;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 550px;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.78);
}
.loader-wrap {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(414%,261%);
    -ms-transform: translate(414%,261%);
    -o-transform: translate(414%,261%);
    transform: translate(414%,261%);
}
.loader-item {
  border: 2px solid rgba(23, 22, 23, 0.25);
  border-bottom-color: #e1251b;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: all .9s ease-in-out;
  -o-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
  /*-webkit-font-smoothing: antialiased!important;
  -webkit-animation: spin 1.7s linear infinite;
  -o-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;*/
}
.loader-wrap:before {
    position: absolute;
    top: 8px;
    left: 10px;
    content: '';
    width: 60px;
    height: 60px;
    background-image: url(../../img/loader-logo-suzuki-02.png);
    background-size: 75%;
    background-repeat: no-repeat;
    color: transparent;
}
.loader-wrap:after {
    position: fixed;
    content: 'PROCESANDO';
    color: #000;
    left: -14px;
    right: 0;
    top: -25px;
}
.loader-item {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.loader-item {
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


@media only screen and (max-device-width: 767px){
	.promos-wrapper-models {
		height:auto;
		padding:15px;
	}
	.promos-container-models {
		height:auto;
	}
	.promotion-models {
		background:none;
		padding:0;
	}
	.promo-content-models {
		width:100%;
		margin:0 auto;
	}
	.promo-content-models .description {
		height:auto;
		color:#333;
	}
	.promo-content-models .description .description_title {
		text-align:center;
		margin:18px 0 20px;
		font-size:20px;
		width:100%;
	}
	.promo-content-models .description p {
		color:inherit;
		line-height:19px;
		font-size:14px;
		width:85%;
	}
	.models_main {
		width:100%;
		margin:0 auto;
	}
	.models_main .models_content {
		width:100%;
		float:none;
		overflow:hidden;
	}
	.models_main .models_content .models_elements {
		width:100%;
		height:auto;
	}
	.models_main .models_content .models_elements .models_element,
	.models_main .models_content .models_elements .models_element.a,
	.models_main .models_content .models_elements .models_element.b,
	.models_main .models_content .models_elements .models-element.ab {
		width:100%;
		height:auto !important;
		float:none;
		min-height:90px;
		margin:0;
	}
	.models_main .models_content .models_elements .models_element p,
	.models_main .models_content .models_elements .models_element.a p,
	.models_main .models_content .models_elements .models_element.b p,
	.models_main .models_content .models_elements .models-element.ab p {
		margin:0 0 5px 0;
	}
	.models_main .models_content .models_elements .models_element p label,
	.models_main .models_content .models_elements .models_element.a p label,
	.models_main .models_content .models_elements .models_element.b p label,
	.models_main .models_content .models_elements .models-element.ab p label {
		font-weight:bold;
		font-size:14px;
	}
	.models_main .models_content .models_elements .models_element .invalid-message,
	.models_main .models_content .models_elements .models_element.a .invalid-message,
	.models_main .models_content .models_elements .models_element.b .invalid-message,
	.models_main .models_content .models_elements .models-element.ab .invalid-message {
		margin:10px 0 0;
		width:96% !important;
		padding:7px 2%;
	}
	.models_main .models_content .models_elements .models_element input,
	.models_main .models_content .models_elements .models_element .icon,
	.models_main .models_content .models_elements .models_element textarea,
	.models_main .models_content .models_elements .models_element.a input,
	.models_main .models_content .models_elements .models_element.a .icon,
	.models_main .models_content .models_elements .models_element.a textarea,
	.models_main .models_content .models_elements .models_element.b input,
	.models_main .models_content .models_elements .models_element.b .icon,
	.models_main .models_content .models_elements .models_element.b textarea,
	.models_main .models_content .models_elements .models-element.ab input,
	.models_main .models_content .models_elements .models-element.ab .icon,
	.models_main .models_content .models_elements .models-element.ab textarea {
		width:95%;
		min-width:95% !important;
		padding:13px 2% !important;
	}
	.models_main .models_content .models_elements .models_element textarea,
	.models_main .models_content .models_elements .models_element.a textarea,
	.models_main .models_content .models_elements .models_element.b textarea,
	.models_main .models_content .models_elements .models-element.ab textarea {
		margin:0;
	}
	.models_main .models_content .models_elements .models_element .enviar,
	.models_main .models_content .models_elements .models_element.a .enviar,
	.models_main .models_content .models_elements .models_element.b .enviar,
	.models_main .models_content .models_elements .models-element.ab .enviar {
		background-color:#003f87 !important;
		width:100% !important;
		padding:12px 0 !important;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		text-align:center;
		font-weight:normal;
	}
	.models_main .models_content .models_elements .models_element .chzn-container,
	.models_main .models_content .models_elements .models_element.a .chzn-container,
	.models_main .models_content .models_elements .models_element.b .chzn-container,
	.models_main .models_content .models_elements .models-element.ab .chzn-container {
		width:100% !important;
	}
	.models_main .models_content .models_elements .models_element .chzn-container .chzn-single,
	.models_main .models_content .models_elements .models_element.a .chzn-container .chzn-single,
	.models_main .models_content .models_elements .models_element.b .chzn-container .chzn-single,
	.models_main .models_content .models_elements .models-element.ab .chzn-container .chzn-single {
		padding:10px 5px;
	}
	.models_main .models_content .models_elements .models_element .chzn-container .chzn-single div,
	.models_main .models_content .models_elements .models_element.a .chzn-container .chzn-single div,
	.models_main .models_content .models_elements .models_element.b .chzn-container .chzn-single div,
	.models_main .models_content .models_elements .models-element.ab .chzn-container .chzn-single div {
		top:9px;
	}
	.models_main .models_content .models_elements .models_element .chzn-container .chzn-drop,
	.models_main .models_content .models_elements .models_element.a .chzn-container .chzn-drop,
	.models_main .models_content .models_elements .models_element.b .chzn-container .chzn-drop,
	.models_main .models_content .models_elements .models-element.ab .chzn-container .chzn-drop {
		width:99.5% !important;
	}
	.models_main .models_content .models_elements .models_element .chzn-container .chzn-drop .chzn-search input,
	.models_main .models_content .models_elements .models_element.a .chzn-container .chzn-drop .chzn-search input,
	.models_main .models_content .models_elements .models_element.b .chzn-container .chzn-drop .chzn-search input,
	.models_main .models_content .models_elements .models-element.ab .chzn-container .chzn-drop .chzn-search input {
		min-width:93.5% !important;
	}
	.models_main .models_sidebar {
		float:none;
		width:100%;
		margin:25px 0 10px;
	}
	.models_main .models_sidebar .models_social {
		width:auto;
		display:block;
	}
	.models_main .models_sidebar .models_social .models_social_title {
		font-size:18px !important;
		font-weight:normal !important;
	}
	.models_main .models_sidebar .models_social p,
	.models_main .models_sidebar .models_social .social a {
		font-size:14px;
		color:#333;
	}
	.models_alert {
		width:100%;
		min-height:25px;
		height:auto;
		padding:10px 0;
		background-position:0 50%;
	}
	.models_alert span {
		padding:0 10px 0 45px;
		display:block;
	}
	.form-thanks {
		width:100%;
		text-align:left;
	}
	.form-thanks .agradecimiento_titulo {
		font-size:16px;
		text-align:center;
		font-weight:bold;
		padding-bottom:15px;
		border-bottom:1px solid #e5e5e5;
	}
	.form-thanks .agradecimiento_titulo2 {
		font-size:14px;
		color:#333;
	}
	.form-thanks .agradecimiento_titulo2 span {
		display:block;
		margin:20px 0;
		color:inherit;
	}
	.form-thanks .agradecimiento_titulo3 {
		font-weight:normal;
	}
	.form-thanks hr {
		display:none;
	}
	.form-thanks .arrow {
		display:none;
	}
	#recibir_noticias {
		margin:20px 0;
	}
	#form-wrapper {
		margin-top:20px;
		overflow:hidden;
	}
}

