<div class="content" id="content-models-header">
	<ul class="models-menu">
	    <li class="first"><a id="change-model" class="scroll-in-site top" href="#top"></a></li>
	    <li class="features current"><a class="scroll-in-site" id="caracteristicas" href="#caracteristicas">Características</a></li>
	    <li class="gallery"><a class="scroll-in-site" id="galeria" href="#galeria">Galería</a></li>
	    <li class="prices"><a class="scroll-in-site" id="precios" href="#precios">Versiones y precios</a></li>
	    <li class="accessories"><a class="scroll-in-site" id="accesorios" href="#accesorios">Accesorios</a></li>
	    <!--<li class="cotízalo"><a class="scroll-in-site" id="cotizalo" href="#cotizalo">Cotízalo</a></li>-->
	    {#<li class="top" id="back-to-top-button"><a class="scroll-in-site" id="top" href="#top"><span>Top</span></a></li>#}
	    <li class="clearfix"></li>
	</ul>
</div>