{# Begin: owners #}
	<div class="header-section nav_owners" style="display: none;">
		<div class="header-section-content-wrapper">
			<div class="close-menu-box">
				<a id="close-owners-panel" class="cur-hover">Cerrar<span>&nbsp;</span></a>
			</div>
			<div class="header-section-content owners">
			    <div class="header-title">Catalogos Suzuki</div>
			    <div class="header-links-list">
			        <i class="back-list-arrow"></i>
			        <div class="header-column">
			            <div class="title">Catalogos</div>
			            <div class="description">
			            </div>
			            <ul class="links-list">
			                <li>
			                	<a href="{{ _host }}garantia-suzuki" onclick="ga('send', 'event', 'Garantía Suzuki', 'Liga_interna', 'Descubre las ventajas que tienes al comprar un Suzuki');">
			                		<span>Nueva Vitara</span>
			                		<i></i>
		                		</a>
	                		</li>
			            </ul>
			            <i class="header-column-arrow"></i>
			        </div>
			        {#
			        <div class="header-column">
			            <div class="title">Garantía extendida</div>
			            <div class="description">
			                Mira lo que tenemos para que protejas tu Suzuki al máximo.
			            </div>
			            <ul class="links-list">
			                <li><a href="#/garantia-suzuki/extendida"><span>Ver garantía</span><i></i></a></li>
			            </ul>
			            <i class="header-column-arrow"></i>
			        </div>
			        <div class="header-column social last">
			            <div class="title">Social</div>
			            <div class="description">
			                Descúbrenos en nuestras redes sociales.
			            </div>
			            <ul class="links-list">
			                <li class="icon facebook"><i></i><a onclick="ga('send', 'event', 'Social', 'Liga_externa', 'Mi_Suzuki_Facebook');" target="_blank" href="https://www.facebook.com/SuzukiGuadalajaraLopezMateosYAvVallarta"><span>Facebook</span></a></li>
			                <li class="icon twitter"><i></i><a onclick="ga('send', 'event', 'Social', 'Liga_externa', 'Mi_Suzuki_Twitter');" target="_blank" href="https://twitter.com/Suzuki_Gdl"><span>Twitter</span></a></li>
			            </ul>
			            <i class="header-column-arrow"></i>
			        </div>
			        #}
			        <div class="clearfix"></div>
			    </div>
			</div>
		</div>
	</div>
{# End: owners #}
