<div id="content-content">
    <div class="site-content">
        <div id="warranty-first-image" class="half extended first">
            <img src="{{ _host }}img/sections/warranty/fachadas.jpg" alt="">
        </div>
        <div class="half compressed first">
            <div class="padding-left2">
                <h3 style="font-size: 19px;">Tecnología Automotriz Vallarta S.A. de C.V.</h3>
                <hr style="margin-bottom: 20px;"/>
                <p align="justify">Suzuki Vallarta fue la primera agencia de la marca SUZUKI en el Estado de Jalisco abriendo sus puertas a los jaliscienses en el año 2005; durante el año 2006 crecimos nuestras instalaciones en el área de servicio y sala de ventas para brindar una mejor atención a nuestros clientes.</p>
                <p align="justify"> Gracias al éxito de la marca, en el año 2008 inauguramos la sucursal de López Mateos que es una de las concesionarias más grandes del país, contamos también con dos agencias mas, ubicadas en Colima y Morelia, convirtiéndonos así, en el grupo con mas agencias Suzuki en el país.</p>
                <p align="justify"> Por 5 años consecutivos nos hemos mantenido dentro de los primeros cinco lugares de ventas a nivel nacional y representamos el 11% de las ventas de la marca Suzuki en México.</p>
                <p align="justify"> Al ser uno de los grupos con más agencias, Suzuki Motor de México nos ha tomado en cuenta para programas piloto de la marca, los más destacados: CRM,            Certificación de Refacciones.</p>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
