<div id="content-content">
     <div id="reasons">
         <div id="reasons-title">
         	<h2>Razones</h2>
         	<p>Para comprar un Suzuki</p>
         </div>
         <div id="reasons-container">
         	<div id="reasons-slides">
     	    	<div id="reason1" class="reasons-slide">
     	    		<div class="reason-content">
     	    			<div id="reason1-text" style="right: auto;">
     	    				<p>
     	    					Somos especialistas en fabricar vehículos de <em>altísimo rendimiento</em> de combustible
     	    				</p>
     	    				<img src="img/sections/10reasons/fuel.png" alt="Combustible">
     	    				<div id="line-left">&nbsp;</div>
     	    				<div id="line-right">&nbsp;</div>
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason2" class="reasons-slide slide-gradient">
     	    		<div class="reason-content">
     	    			<div id="reason2-text">
     	    				<p id="reason2-title">
     		    				Vehículos de alta calidad de manufactura hechos en Japón
     		    			</p>
     		    			<div>&nbsp;</div>
     		    			<p>
     		    				En febrero de 2013, el periódico Reforma ubicó a Suzuki en el número 10 de las 33 marcas que menos fallas reportan después de tres años de edad.
     		    			</p>
     		    			<img src="img/sections/10reasons/map.png" alt="Mapa">
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason3" class="reasons-slide">
     	    		<div class="reason-content">
     	    			<div id="reason3-text">
     	    				<p>
     	    					Más de 40 años de experiencia <em>fabricando vehículos 4x4,</em> y 25 manufacturando SUV.
     	    				</p>
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason4" class="reasons-slide slide-gradient">
     	    		<div class="reason-content">
     	    			<div id="reason4-text">
     	    				<p id="reason4-title">SWIFT</p>
     	    				<p>
     	    					Fue reconocido como el Hatchback subcompacto con mejor valor de reventa... y esta característica aplica para todos nuestros modelos.
     	    				</p>
     	    			</div>
     	    			<img src="img/sections/10reasons/swift.png" alt="Swift">
     	    		</div>
     	    	</div>
     	    	<div id="reason5" class="reasons-slide">
     	    		<div class="reason-content">
     	    			<div id="reason5-text">
     	    				<p>
     	    					El precio de mantenimiento de nuestros autos es súper competitivo:
     	    				</p>
     	    				<div id="reason5-price">
     	    					<div class="line-left line-top">&nbsp;</div>
     	    					<div class="line-right line-top">&nbsp;</div>
     	    					<div class="line-left line-bottom">&nbsp;</div>
     	    					<div class="line-right line-bottom">&nbsp;</div>
     	    					<p>Menos de</p>
     	    					<p id="price">$292</p>
     	    					<p>al mes</p>
     	    				</div>
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason6" class="reasons-slide slide-gradient">
     	    		<div class="reason-content">
     	    			<div id="reason6-text">
     	    				<div id="price1" class="price-vs">
     	    					<span>$12,500</span>
     	    					<p>Seguro<span>Anual</span></p>
     	    					<img src="img/sections/10reasons/swift-gls.png" alt="Swift GLS">
     	    				</div>
     	    				<div id="price2" class="price-vs">
     	    					<span>$18,500</span>
     	    					<p>Seguro<span>Anual</span></p>
     	    					<img src="img/sections/10reasons/vw.png" alt="vw">
     	    				</div>
     	    				<div id="vs">
     	    					<img src="img/sections/10reasons/vs.png" alt="VS">
     	    					<span>VS</span>
     	    				</div>
     	    				<p>
     	    					Fabricamos coches con bajo índice de robo,<br/>lo que reduce significativamente el costo del seguro anual.
     	    				</p>
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason7" class="reasons-slide">
     	    		<div class="reason-content">
     	    			<div id="reason7-text">
     	    				<div>
     	    					<img src="img/sections/10reasons/seal.png" alt="Sello">
     	    					<p><span>3</span><br/>años</p>
     	    				</div>
     	    				<p>
     	    					Ofrecemos una garantía por <em>tres años o 60,000 km,</em> pero también puedes elegir nuestra garantía opcional hasta por <em>seis años o 125,000 km.</em>
     	    				</p>
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason8" class="reasons-slide slide-gradient">
     	    		<div class="reason-content">
     	    			<div id="reason8-text">
     	    				<img src="img/sections/10reasons/graph.png" alt="Gráfica">
     		    			<p>
     		    				Marca creadora del vehículo más vendido en Japón en el periodo <em>2003-2011.</em>
     		    			</p>
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason9" class="reasons-slide">
     	    		<div class="reason-content">
     	    			<div id="reason9-text">
     	    				<div>
     	    					<img src="img/sections/10reasons/tool.png" alt="Seguro">
     	    				</div>
     	    				<p>
     	    					<span>Póliza Seguro Sukicredit:</span>
     	    					Reparaciones con partes originales hasta por cinco años a partir de la fecha de inicio del crédito.
     	    				</p>
     	    			</div>
     	    		</div>
     	    	</div>
     	    	<div id="reason10" class="reasons-slide slide-gradient">
     	    		<div class="reason-content">
     	    			<div id="reason10-text">
     	    				<p>
     	    					Agenda tu prueba de manejo <span>y convéncete de comprar un Suzuki</span>
     	    				</p>
     	    				<!--<a href="#prueba-de-manejo" onclick="$.openPanel( 'test-drive');return false;" class="button blue">Agendar Prueba de Manejo</a>-->
     	    				<img src="img/sections/10reasons/cars.png" alt="Carros">
     	    				<h2>Experimenta Suzuki</h2>
     	    			</div>
     	    		</div>
     	    	</div>
     	    </div>
         </div>
         <div id="reasons-navigation-wrapper">
         	<div id="reasons-navigation">
         		<div id="reasons-prev" class="reasons-disabled"><img src="img/sections/10reasons/prev.png" alt="Anterior"></div>
     	    	<p>
     	    		<span id="count">1</span>
     	    		<span>/10</span>
     	    	</p>
     	    	<div id="reasons-next"><img src="img/sections/10reasons/next.png" alt="Siguiente"></div>
     	    </div>
         </div>
     </div>
 </div>
